.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html, body, .container {
    height: 100%;
    width: 100%;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;

}